.git
.env
.env.example
**/.env
**/.env.example
access_token_cache.txt
**/access_token_cache.txt
**/__pycache__/
**/*.pyc
data/
plots/
results/
results1/
results2/
results3/
results4/
results5/
results6_m1/
tensorboard_logs*/
zerodha_equity_collector/data/
zerodha_equity_collector/data_l2/
