beautifulsoup4
concurrent-log-handler
gymnasium
joblib
kiteconnect
matplotlib
numpy
optuna
pandas
plotly
pyotp
pytz
requests
scikit-learn
seaborn
stable-baselines3
ta
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.1+cpu
yfinance
